.courses {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
ul {
  list-style: none;
  margin-top: 40px;
}

li {
  margin-bottom: 10px;
}
.courses {
  font-size: 1.1rem;
  line-height: 2.4rem;
}

.year {
  background-color: #a8e619;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  padding: 5px;
  font-weight: 700;
  margin-right: 15px;
}

.school {
  font-size: 1rem;
  margin-left: 111px;
  color: #673AB7;
}

.content_icon {
  color: #311368;
}

h1 {
  font-size: 2rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .courses {
    margin-top: 0px;
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .courses > .content > ul {
    padding-left: 0px !important;
  }

  .courses > .content > ul > li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  h1 {
    font-size: 1.4rem;
    margin-bottom: 0;
  }
  .school {
    margin-left: 0;
    font-size: 0.9rem;
  }

  .year {
    font-size: 0.8rem;
  }
}
