.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
ul {
  list-style: none;
  margin-top: 40px;
}

li {
  margin-bottom: 10px;
}
.courses {
  font-size: 1.1rem;
  line-height: 2rem;
}

.year {
  font-weight: 700;
  margin-right: 10px;
  color: #d0294e;
}

.school {
  margin-left: 111px;
  font-weight: 200;
  font-style: italic;
}

.content_icon {
  color: #d0294e;
}

h1 {
  font-family: "Rouge Script", -apple-system, sans-serif;
  font-size: 2.4rem;
  cursor: pointer;
  transition: padding-left 450ms ease-in-out;
}

h1:hover {
  padding-left: 20px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .courses {
    margin-top: 0px;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  .courses > .content > ul {
    padding-left: 5vw !important;
  }

  h1 {
    font-size: 1.6rem;
    margin-bottom: 0;
  }
  .school {
    margin-left: 0;
  }
}
