.courses {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
ul {
  list-style: none;
  margin-top: 40px;
}

li {
  margin-bottom: 10px;
}
.courses {
  font-size: 1.1rem;
  line-height: 2rem;
}

.year {
  font-weight: 700;
  margin-right: 10px;
  color:#311368;
}

.school {
  margin-left: 111px;
  font-weight: 200;
  font-style: italic;
  color: #311368;
}

.content_icon {
  color: #311368;
}

h1 {
  font-size: 2rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .courses {
    margin-top: 0px;
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .courses > .content > ul {
    padding-left: 5vw !important;
  }

  h1 {
    font-size: 1.4rem;
    margin-bottom: 0;
  }
  .school {
    margin-left: 0;
  }
}
