.header {
  display: flex;
  align-items: center;
  padding-left: 1vw;
  height: 80px;
  width: 100vw;
  color: #111;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: all 450ms ease-in-out;
}

.header.show {
  background-color: #111;
  color: white;
}

.header > .my_name {
  font-family: "Fascinate Inline", -apple-system, "Open Sans", "Helvetica Neue",
    sans-serif, cursive;
  margin-left: 3vw;
  font-size: 2rem;
}

.header > .menu_icon {
  cursor: pointer;
  transition: transform 450ms ease-in-out;
}

.header > .menu_icon:hover {
  transform: scale(1.08);
}

.up_arrow {
  position: fixed !important;
  bottom: 10px !important;
  right: 10px !important;
  z-index: 1 !important;
  background-color: #f50057 !important;
  color: white !important;
  opacity: 0.9 !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .header > .my_name {
    margin-left: 10vw;
    font-size: 1.8rem;
  }

  .up_arrow {
    position: fixed !important;
    bottom: 80px !important;
    right: 5px !important;
    opacity: 0.9 !important;
  }
}
