.header {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100vw;
  color: white;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: all 450ms ease-in-out;
  background-image: inherit;
}

.header > .menu_icon {
  position: fixed;
  top: 30px;
  right: 25px;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 450ms ease-in-out;
}

.header > .menu_icon:hover {
  transform: scale(1.08);
}

.header > .my_logo {
  position: fixed;
  top: 10px;
  left: 30px;
  width: 70px;
  height: auto;
}

.up_arrow {
  position: fixed !important;
  bottom: 10px !important;
  right: 10px !important;
  z-index: 1 !important;
  background-color: #a8e619 !important;
  color: white !important;
  opacity: 0.9 !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .header > .my_logo {
    top: 20px;
    left: 20px;
    width: 50px;
    height: auto;
  }

  .header > .menu_icon {
    top: 32px;
  }

  .up_arrow {
    position: fixed !important;
    bottom: 80px !important;
    right: 5px !important;
    opacity: 0.9 !important;
  }
}
