.contact {
  background-color: #111111;
  color: white;
  height: 80px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 80px;
}

.contact > h4 {
  font-family: "Rouge Script", "Raleway", -apple-system, sans-serif !important;
  font-weight: 300;
  font-size: 1.4rem;
  margin: 0;
}
.contact > .icon_list {
  color: white;
}

.contact_icon {
  color: white;
  transition: all 450ms ease-in-out !important;
}

.contact_icon:hover {
  transform: scale(1.08);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .contact {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
  }
  .contact > h4 {
    font-size: 1.2rem;
  }

  .contact_icon {
    padding-left: 15px;
    padding-right: 15px;
  }
}
