.home {
  height: 100vh;
  margin-top: 85px;
  background: #3f51b5;
  background: -webkit-linear-gradient(to right, #3f51b5, #673ab7);
  background: linear-gradient(to right, #3f51b5, #673ab7);
  color: white;
}

.home > .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  margin-top: 15vh;
  margin-bottom: 15vh;
  width: 60vw;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.text > h2 {
  width: 400px !important;
  height: 100px !important;
  margin-bottom: 50px !important;
  line-height: 1.7em !important;
  margin-left: auto;
  margin-right: auto;
  padding: 0 !important;
  font-weight: lighter;
  font-size: 1.3em !important;
}

.text > p {
  text-align: left;
  margin-top: 80px;
  font-size: 1.1rem;
  line-height: 2rem;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

.content > img {
  margin-top: 5vh;
  object-fit: contain;
  width: 20vw;
}

#downBtn {
  position: relative;
  top: 60px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .home {
    height: auto;
  }
  #downBtn {
    display: none;
  }

  .content > img {
    margin-top: 10px;
    width: 40vw;
  }
  .text {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 90vw;
    height: 500px;
  }

  .text > p {
    font-size: 0.9rem;
    text-align: justify;
    margin-top: 30px;
    padding-bottom: 25px;
    width: 80vw;
    text-align: left;
  }

  .text > h2 {
    width: 82vw !important;
    height: 100px !important;
    font-size: 1.2rem !important;
    line-height: 2rem !important;
    margin-bottom: 60px !important;
  }
}

@media only screen and (max-height: 660px) {
  .home {
    height: auto;
  }
  .text > h2 {
    height: 100px !important;
    margin-bottom: 60px !important;
  }
}
