.skills {
  text-align: center;
  margin-top: 60px;
}

.skills > .content {
  margin-top: 80px;
}

.logo.hidden {
  display: none;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.logo > img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  transition: transform 450ms ease-in-out;
  cursor: pointer;
}

.logo > img:hover {
  transform: scale(1.08);
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 100%;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  flex-basis: 19%;
}

.progress {
  transition: transform 450ms ease-in-out;
  color: #d0294e;
}

.progress:hover {
  transform: scale(1.08);
}

.MuiCircularProgress-static {
  color: #d0294e !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .skills {
    margin-top: 0;
  }
  .skills > .content {
    margin-top: 30px;
  }

  .logo > img {
    width: 70px;
    height: 70px;
  }

  .logo {
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 40px;
  }
}
