.hobby > img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    transition: all 450ms ease-in-out;
}

.hobby > img:hover{
    transform: scale(1.08);
    cursor: pointer;    
}

.hobby > .hobby_desc{
    font-size: 1rem;
    line-height: 1.6rem;
}