ul{
    list-style: none;
}

li{
    margin-bottom: 10px;
}
.courses {
  font-size: 1.1rem;
  line-height: 2rem;
}

.year {
  font-weight: 700;
  margin-right: 10px;
  color: teal;
}

.school {
  margin-left: 111px;
  font-weight: 200;
  font-style: italic;
}

.content.hidden{
    display: none;
}
