.header {
  display: flex;
  align-items: center;
  padding-left: 1vw;
  height: 80px;
  width: 100vw;
  background-color: #111;
  color: white;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header > .my_name {
  font-family: "Rouge Script", -apple-system, "Open Sans", "Helvetica Neue",
    sans-serif, cursive;
  margin-left: 3vw;
  font-size: 2.2rem;
}

.header > .menu_icon {
  cursor: pointer;
  transition: all 450ms ease-in-out;
}

.header > .menu_icon:hover {
  transform: scale(1.08);
}

.up_arrow{
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  transition: all 450ms ease-in;
  color: teal;
}

.up_arrow:hover{
  bottom: 15px;
}