.content {
  background-color: lightgrey;
  display: flex;
  justify-content: space-around;
}

.text {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.content > img {
  object-fit: contain;
  width: 30vw;
}
