.card {
  width: 440px;
  height: 500px;
  margin-bottom: 40px;
  border-radius: 10% !important;
  transition: transform 450ms ease-in-out !important;
}

.MuiButton-contained {
  color: white !important;
  background-color: #311368 !important;
  margin-bottom: 5% !important;
  border-top-right-radius: 35% !important;
  border-bottom-left-radius: 35% !important;
  padding: 2.5% !important;
  font-family: "Quicksand", sans-serif !important;
}

.MuiButton-contained:hover {
  background-color: #503385 !important;
}

p.MuiTypography-root {
  color: #21333b !important;
  line-height: 1.4rem !important;
  font-family: "Quicksand", sans-serif;
  font-size: 1.15em !important;
  border-radius: 10% !important;
}

ul.tech_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
}

.tech_list > li {
  margin-right: 10px;
  font-size: 1.1em;
}

.MuiCardActions-root {
  justify-content: center !important;
}

ul.tech_list {
  margin-top: 0;
  color: #21333b;
  font-family: "Quicksand", sans-serif;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .card {
    width: 90vw;
    height: auto;
    border-radius: 5% !important;
  }
}
