.card {
  width: 440px;
  height: 500px;
  margin-bottom: 40px;
  text-align: justify !important;
  transition: transform 450ms ease-in-out !important;
}

.card:hover {
  transform: scale(1.01) !important;
}

.MuiTypography-h5,
p.MuiTypography-root,
ul,
h4,
.MuiButton-contained {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

.MuiButton-contained {
  color: white !important;
  background-color: #d0294e !important;
  margin-bottom: 5% !important;
  border-radius: 15px !important;
}

p.MuiTypography-root {
  color: #111 !important;
  line-height: 1.4rem !important;
}

ul.tech_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
}

.tech_list > li {
  margin-right: 10px;
}

.MuiCardActions-root {
  justify-content: center !important;
}

ul.tech_list {
  margin-top: 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .card {
    width: 90vw;
    height: auto;
  }

  .MuiCardContent-root > h2 {
    font-size: 1.3rem;
  }

  .MuiPaper-rounded {
    margin-bottom: 15% !important;
  }

  ul.tech_list,
  h4{
    font-size: 0.85rem;
  }
}
