.card {
  width: 440px;
  height: 500px;
  margin-bottom: 40px;
  text-align: justify !important;
  transition: transform 450ms ease-in-out !important;
}

.card:hover {
  transform: scale(1.04) !important;
}

.MuiTypography-h5,
p.MuiTypography-root,
ul,
h4,
.MuiButton-contained {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

.MuiButton-contained {
  border-radius: 20px !important;
  color: white !important;
  background-color: teal !important;
}

p.MuiTypography-root {
  color: #111 !important;
  line-height: 1.4rem !important;
}

ul.tech_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 0;
}

.tech_list > li {
  margin-right: 10px;
}

.project.hidden {
  display: none;
}

.MuiPaper-rounded {
  border-radius: 20px !important;
  margin-bottom: 20px !important;
}

.MuiCardActions-root {
  justify-content: center !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .card {
    width: 85vw;
    height: auto;
  }

  .MuiCardContent-root > h2 {
    font-size: 1.4rem;
  }
}
