.projects > .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 80px;
}

.projects > h1 {
  text-align: center;
  font-size: 2rem;
}

.projects > .content.hidden {
  display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .projects > .content {
    margin-top: 30px;
  }

  .projects > h1 {
    font-size: 1.4rem;
  }
}
